#----------------------------------------------
# Git Ignore file for vampire source code
#----------------------------------------------

#----------------------------------------------
# Ignore object files
#----------------------------------------------
*.o

#----------------------------------------------
# Ignore temporary editor files
#----------------------------------------------
*~
*.swp

#----------------------------------------------
# Povray files
#----------------------------------------------
*.png
*.pov
*.inc
*.ini

#----------------------------------------------
# OSX/macOS files
#----------------------------------------------
*.DS_Store

#----------------------------------------------
# Other sundry files
#----------------------------------------------
#*old.cpp
#*old.hpp
*.bkp
*.json
vampire.pkg # installation package

#----------------------------------------------
# Manual files to be ignored
#----------------------------------------------
vampire_manual.pdf
vampire_manual.out
vampire_manual.synctex.gz

#----------------------------------------------
# Data file formats in vampire
#----------------------------------------------
*.cfg
*.data
*.meta
crystal.xyz
log
grain
output
MPI-compute-times
MPI-wait-times

#----------------------------------------------
# Executables
#----------------------------------------------
vampire-serial
vampire-parallel
vdc.x

#----------------------------------------------
# Obsolete
#----------------------------------------------
cfg2povray
cfg2rasmol
log.*
run/unit-cell-creator

#EOF
